@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-funky: var(--font-creepster);
  --font-display: var(--font-press-start);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funky), Arial, Helvetica, sans-serif;
}
